<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} – Pirix Operating System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/normalize.css" type="text/css" rel="stylesheet" />
    <link href="/css/gridism.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/css/pygments.css" type="text/css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="/gfx/favicon.png" type="image/png">
  </head>
  <body>
    <header>
      <div id="header-container">
        <nav class="mobile-nav show-on-mobiles">
          {% include nav-items.html %}
        </nav>
        <div class="grid no-gutters center-on-mobiles">
          <div id="logo" class="unit one-quarter">
            <h1>
              <a href="/">
                <span>Pirix</span>
                <img src="/gfx/logo.png" height="60" width="138" />
              </a>
            </h1>
          </div>

          <nav class="main-nav unit three-quarters hide-on-mobiles">
            {% include nav-items.html %}
          </nav>
        </div>
      </div>
    </header>

    <section id="content">
      <div id="content-container">
        {{content}}
      </div>
    </section>

    <footer class="center-on-mobiles">
      <div id="footer-container" class="grid no-gutters">
        <div id="copyright" class="unit half">
          &copy; 2012-2013 Thomas Gatzweiler
        </div>
        <div id="footer-links" class="unit half">
          <a href="https://github.com/pirix/pirix"><i class="icon-github icon-2x"></i></a>
          <a href="/atom.xml"><i class="icon-rss icon-2x"></i></a>
          <a href="http://twitter.com/pirix_org"><i class="icon-twitter icon-2x"></i></a>
          <a href="http://www.facebook.com/pirix.org"><i class="icon-facebook icon-2x"></i></a>
          <a href="https://plus.google.com/104391698152100471312"><i class="icon-google-plus icon-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
